body {
    margin: 0;
    padding: 0;
    font-family: Libre Franklin, sans-serif;
    overflow-x: hidden;
    justify-content: center;
    height: 100%;
    background-color: #000000;
    color: white;
    --primary-purple: #FF4AC3;
    --primary-gray: rgba(255, 255, 255, 0.1);
    --primary-green: #00BDA5; 
    width: 100%;
}

.header-banner {
    font-size: 20px;
    background-color: var(--primary-purple);
    color: black;
    padding: 25px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 5;
}

.header {
    margin: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.underlineit {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.header-name-container {
    display: flex;
    flex-direction: row;
    width: 20%;
}

.header-dot {
    background-color: var(--primary-purple);
    border-radius: 90%;
    margin: 4px 0 0 0;
    vertical-align: middle;
    width: 16px;
    height: 16px;
}

.header-name {
    margin: 3px 0 0 8px;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
}

.header-socials {
    display: flex;
    justify-content: end;
    vertical-align: middle;
}

.header-icon-link {
    margin: 0 2% 0 2%;
}

.header-icon-link:first-of-type {
    margin-left: 0;
}

.header-icon-link:last-of-type {
    margin-right: 0;
}

.header-icon {
    width: 28px;
    height: 28px;
}

.hero-container {
    position: relative;
    width: 50%;
    top: 200px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.hero-desc {
    margin-top: 300px;
    width: 50%;
    font-size: 18px;
    line-height: 2rem;
}

.scroll-text {
    transform: translateX(-20%) scaleY(1.2);
    font-family: Bebas Neue;
    display: block;
    -webkit-text-stroke: 1px #FFF;
    font-size: 156px;
    font-weight: 900;
    white-space: nowrap;
    position: relative;
    color: var(--primary-gray);
}

.non-transparent {
    color: white;
    -webkit-text-stroke: 0.5px #FFF;
}

.transparent {
    -webkit-text-stroke: 0.2px #FFF;
}

.heading1-animated-top::before {
    content: "SPRZEDAŻ / MARKETING / ENERGIA / SIEĆ /";
    position: absolute;
    margin-left: -6.25em;
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: transparent;
}

.heading1-animated-top::after {
    content: "SPRZEDAŻ / MARKETING / ENERGIA / SIEĆ / SPRZEDAŻ / MARKETING /";
    position: absolute;
    margin-left: 0.09em;
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: transparent;
}

.heading1-animated-bottom::before {
    content: "SPRZEDAŻ / MARKETING / ENERGIA / SIEĆ /";
    position: absolute;
    margin-left: -6.25em;
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: transparent;
}

.heading1-animated-bottom::after {
    content: "SPRZEDAŻ / MARKETING / ENERGIA / SIEĆ / SPRZEDAŻ / MARKETING /";
    position: absolute;
    margin-left: 0.09em;
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: transparent;
}

#text1 {
    margin-top: -360px;
    z-index: -1;
    position: relative;
}

#text2 {
    margin-top: -48px;
    z-index: 2;
    position: relative;
}

.testimonials-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 400px 0 0 100px;
    max-width: 1300px;
    display: flex;
    align-items: flex-start;
}

.testimonials-desc {
    font-size: 1.25rem;
    max-width: 600px;
    position: sticky;
    top: 200px;
    height: fit-content;
    letter-spacing: 0.5px;
    font-weight: 200;
}

.testimonials {
    margin: 0 0 0 100px;
    display: flex;
    flex-direction: column;
}

.quote {
    width: 100%;
    margin: 70px 0 0 0;
}

.quote:first-of-type {
    margin: 0 0 0 0;
}

.quote-text {
    font-size: 1.25rem;
    font-weight: 100;
}

.quote-author {
    margin: 15px 0 0 0;
    font-size: 1rem;
    font-weight: 900;
}

.skills-scroll-text {
    margin: 100px 0 0 0;
}

.course-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 100px 0 0 0;
}

.course-header-list
{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-weight: 700;
    font-size: 1.25rem;
    padding: 0;
}

.course-header-list li
{
    margin: 0 50px;
}
.course-header-list li:first-of-type
{
    margin-left: 0;
}

.course-subheader
{
    font-size: 3rem;
    font-family: Bebas Neue;
    font-weight: 200;
    margin: 10px 0;
}

.course-main
{
    display: flex;
    flex-direction: row;
}

.course-text
{
    max-width: 20vw;
}

.purple-text
{
    color: var(--primary-purple);
    margin: 0;
    padding: 0;
}

.green-text
{
    color: var(--primary-green);
    margin: 0;
    padding: 0;
}

.course-els
{
    margin: 15px 0 0 0;
    padding: 0 0 0 25px;
}


.course-competentions
{
    margin: 20px 0 0 0;
    padding: 0 0 0 35px;
    font-size: 1rem;
}

.course-price-container
{
    display: flex;
    gap: 0;
    margin: 150px 0 0 100px;
}

.course-price
{
    font-size: 2.25rem;
    margin: 0;
}

.course-pic-container
{
    position: absolute;
    display: flex;
    justify-content: center;
}

.course-pic
{
    position: absolute;
    width: 60vw;
    z-index: -1;
    height: 700px;
}

.quote-container
{
    display: flex;
    justify-content: right;
    margin: 200px 150px 0 0;
    width: 100%;
}

.quote
{
    font-size: 1.5rem;
    width: 50%;
    margin: 0 150px 0 0;
}

.footer
{
    display: flex;
    flex-direction: row;
    width: 59%;
    justify-content: space-between;
    margin: 150px 0 30px 0;
    align-items: center;
}

.footer-name
{
    font-size: 1.5rem;
    margin: 0 0 0 50px;
}

.footer-icon
{
    margin: 0 5px;
}
.footer-socials:first-of-type
{
    margin-left: 0;
}