body {
    margin: 0;
    padding: 0;
    font-family: Libre Franklin, sans-serif;
    overflow-x: hidden;
    height: 100%;
    background-color: #000000;
    color: white;
    --primary-color: #FF4AC3;
    width: 100%;
}

.header-banner {
    background-color: var(--primary-color);
    color: black;
    padding: 20px;
    text-align: center;
}

.header {
    margin: 3% 0 0 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-name-container
{
    display: flex;
    flex-direction: row;    
}

.header-dot {
    background-color: var(--primary-color);
    height: 1.5vw;
    width: 1.7vw;
    border-radius: 90%;
}

.header-name {
    margin: 0 0 0 1%;
    width: 100%;
}

.header-socials {
    margin: 0 -7.% 0 0;
}

.header-icon {
    height: 50%;
}

.parallax-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.back-layer,
.front-layer {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.scroll-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scroll-text {
    font-size: 3rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.1);
    white-space: nowrap;
}

.middle-layer {
    z-index: 2;
}

.center-image {
    width: 100%;
    height: auto;
}

.text-column {
    z-index: 3;
    font-size: 1.5rem;
    color: #333;
    text-align: left;
}

.text-column p {
    padding: 20px;
    margin: 0;
}

@media (min-width: 768px) {
    .parallax-section {
        flex-direction: row-reverse;
    }

    .center-image {
        width: 50%;
        height: 100%;
        object-fit: cover;
    }

    .text-column {
        width: 40%;
        padding-left: 20px;
    }
}

@media (max-width: 767px) {
    .parallax-section {
        flex-direction: column;
        justify-content: flex-start;
    }

    .center-image {
        width: 90%;
        margin-bottom: 40px;
    }

    .text-column {
        width: 90%;
        margin-top: 100px;
        text-align: center;
    }
}

.scroll-text {
    white-space: nowrap;
    display: block;
    -webkit-text-stroke: 1px white;
    transform: translateX(-30%);
    font-size: 3rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.1);
    white-space: nowrap;
}

.non-transparent {
    color: white !important;
    -webkit-text-stroke: 1px white;
}

.transparent {
    color: rgba(255, 255, 255, 0.1) !important;
    -webkit-text-stroke: 1px white;
}

#text1 {
    top: 20%;
    z-index: 0;
}

#text2 {
    top: 30%;
    z-index: 2;
}