body {
    margin: 0;
    padding: 0;
    font-family: Libre Franklin, sans-serif;
    overflow-x: hidden;
    height: 100%;
    background-color: #000000;
    color: white;
    --primary-color: #FF4AC3;
    --primary-gray: rgba(255, 255, 255, 0.1); 
    width: 100%;
}

.header-banner {
    background-color: var(--primary-color);
    color: black;
    padding: 20px;
    text-align: center;
}

.header {
    margin: 3% 3% 0 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-name-container
{
    display: flex;
    flex-direction: row;
    width: 20%;  
}

.header-dot {
    background-color: var(--primary-color);
    height: 1.5vw;
    width: 1.7vw;
    border-radius: 90%;
    margin: 0.5% 0 0 0;
}

.header-name {
    margin: 0 0 0 2%;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
}

.header-socials {
    display: flex;
    justify-content: end;

}

.header-icon-link {
    margin: 0 2% 0 2%;
}

.header-icon-link:first-of-type {
    margin-left: 0;
}

.header-icon-link:last-of-type {
    margin-right: 0;
}

.header-icon {
    height: 60%;   
}

.start-container {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.start-desc {
    width: 40%;
    position: absolute;
    top: 23%;
    left: 7%;
    font-size: 1.3rem;
    line-height: 2rem;
}

.scroll-text {
    white-space: nowrap;
    display: block;
    -webkit-text-stroke: 1px white;
    transform: translateX(-30%);
    font-size: 5rem;
    font-weight: 900;
    white-space: nowrap;
    position: absolute;
    line-height: 20vw;
    color: var(--primary-gray);
    transform: scaleY(250%);
}

.non-transparent {
    color: white;
    -webkit-text-stroke: 1px white;
}

.transparent {
    color: var(--primary-gray);
    -webkit-text-stroke: 1px white;
}

#text1 {
    top: 40%;
    z-index: 0;
}

#text2 {
    top: 80%;
    z-index: 2;
}

.center-image-container {
    margin-left: 45%;
    overflow: visible;
    width: 100%;
    z-index: 1;
}

.center-image {
    height: 45vw;
    width: 40vw;
}

.center-contact-btn {
    width: 13vw;
    height: 13vw;
    border-radius: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    position: absolute;
    top: 30%;
    left: 77%;
    font-size: 2rem;
    z-index: 2;
    color: black;
}