body {
    margin: 0;
    padding: 0;
    font-family: Libre Franklin, sans-serif;
    overflow-x: hidden;
    justify-contnet: center;
    height: 100%;
    background-color: #000000;
    color: white;
    --primary-color: #FF4AC3;
    --primary-gray: rgba(255, 255, 255, 0.1);
    width: 100%;
}

.header-banner {
    font-size: 20px;
    background-color: var(--primary-color);
    color: black;
    padding: 25px;
    text-align: center;
}

.header {
    margin: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.underlineit {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.header-name-container {
    display: flex;
    flex-direction: row;
    width: 20%;
}

.header-dot {
    background-color: var(--primary-color);
    border-radius: 90%;
    margin: 4px 0 0 0;
    vertical-align: middle;
    width: 16px;
    height: 16px;
}

.header-name {
    margin: 3px 0 0 8px;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
}

.header-socials {
    display: flex;
    justify-content: end;
    vertical-align: middle;
}

.header-icon-link {
    margin: 0 2% 0 2%;
}

.header-icon-link:first-of-type {
    margin-left: 0;
}

.header-icon-link:last-of-type {
    margin-right: 0;
}

.header-icon {
    width: 28px;
    height: 28px;
}

.hero-container {
    position: relative;
    width: 50%;
    top: 200px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.hero-desc {
    margin-top: 300px;
    width: 50%;
    font-size: 18px;
    line-height: 2rem;
}

.scroll-text {
    font-family: Bebas Neue;
    display: block;
    -webkit-text-stroke: 1px #FFF;
    transform: translateX(-50%);
    font-size: 156px;
    font-weight: 200;
    white-space: nowrap;
    position: relative;
    color: var(--primary-gray);
}

.non-transparent {
    color: white;
    -webkit-text-stroke: 1px white;
}

.transparent {
    -webkit-text-stroke: 1px white;
}

#text1 {
    margin-top: -340px;
    z-index: -1;
    position: relative;
}

#text2 {
    margin-top: 32px;
    z-index: 2;
    position: relative;
}